//MOBILE
@media (max-width: 768px) {
	ion-icon {
		font-size: 4rem;
	}

	h1 {
		font-size: 1.8rem;
		padding: 1em;
		text-align: center;
	}

	.header-background {
		background-image: url(../picture/keyboard-ge7a5f3311_640.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		.welcome-text {
			font-size: 1rem;
		}
	}

	//NAV

	.top-nav {
		display: block;
		.burger-top-menu {
			color: $white;
			display: flex;
			justify-content: flex-end;
			padding: 0.3em;
		}
		.top-nav-element {
			display: none;
		}
	}
	//SKILLS

	.mobile-column {
		text-align: center;
		flex-direction: column;
	}
	//CONTACT

	.section-contact-left {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	//FOOTER
	.footer {
		height: 100%;
	}

	.section-footer {
		align-self: center;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.mobile-footer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
