$dark: #303841;
$white: #eeeeee;
$red: #970707;
$light-dark: #3a4750;
$light-green: #a3f7b5;
$medium-green: #72e0ac;
$strong-green: #54bea1;
$green: #42a59f;

h1 {
	text-transform: uppercase;
	padding: 2% 0;
	color: $white;
}

h2 {
	text-transform: uppercase;
}

p {
	font-size: 1em;
}

a {
	text-decoration: none;
	color: $white;
}

//FLEXBOX
.item-center {
	align-items: center;
}

.flex {
	display: flex;
}

.center {
	justify-content: center;
}

.flex-start {
	justify-content: flex-start;
	align-items: center;
}

.flex-end {
	justify-content: flex-end;
	align-items: center;
}

.column {
	flex-direction: column;
}
.row {
	flex-direction: row;
}
.text-center {
	text-align: center;
}

.flex-space-around {
	justify-content: space-around;
}

.center-content {
	align-content: center;
}

//NAVIGIATION
.top-nav {
	position: fixed;
	width: 100%;
	background-color: $green;
	min-height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 8;
	opacity: 0.8;
	.top-nav-element {
		margin: 0 2em;
		transition: 0.5s;
		z-index: 2;
	}
	.burger-top-menu {
		display: none;
	}
}

.top-nav-element:hover {
	color: white;
}

//HEADER
.header-background {
	position: relative;
	background-image: url(../picture/dawn-g2912c8a57_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	.shadow-header-background {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgb(48, 141, 113);
		opacity: 0.5;
	}
	.welcome-text {
		font-size: 1.5rem;
		z-index: 4;
		padding: 30px 0;
	}
	div {
		.welcome-button {
			background-color: $green;
			min-width: 25%;
			min-height: 10%;
			border-radius: 15px;
			color: $white;
			padding: 1em;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: bold;
			transition: 0.4s;
		}
		.welcome-button:hover {
			background-color: $light-green;
			cursor: pointer;
		}
	}
}

//ABOUT-ME
.about-me {
	width: 100%;
	background-color: $white;
	max-height: 100%;
	min-height: 100vh;
	.color-header-text {
		color: $green;
	}
}

.foto-about-me {
	max-width: 30%;
	border-radius: 75px;
	margin: 2em;
}

.text-about-me {
	margin: 2em;
	text-align: justify;
}

//SKILLS
.skills {
	height: 100%;
	width: 100%;
	background-color: $green;
}

.skills-title {
	padding-top: 20px;
}

.skills-icon {
	display: block;
	margin: 0.5em;
	font-size: 10rem;
	color: $white;
}

.skill-level {
	border: 2px solid $white;
	height: 10px;
	width: 100%;
	border-radius: 15px;
}
.html-skill-level,
.scss-skill-card,
.css-skill-level,
.js-skill-level,
.vue-skill-level,
.github-skill-level {
	background-color: $white;
	height: 100%;
}

.github-skill-level {
	width: 50%;
}
.html-skill-level {
	width: 90%;
}
.css-skill-level {
	width: 80%;
}
.js-skill-level {
	width: 65%;
}
.vue-skill-level {
	width: 40%;
}
.scss-skill-card {
	width: 70%;
}

.goals {
	width: 100%;
	height: 100vh;
	.shadow-goals {
		width: 100%;
		height: 100%;
		background-image: url('../picture/business-g43692ee71_1920.jpg');
		position: fixed;
		bottom: 0;
		z-index: -1;
	}
}

//CONTACT
.contact {
	width: 100%;
	min-height: 100%;
	z-index: 1;
	background-color: $light-dark;
	.section-contact-right {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		color: $white;
		padding: 0.5em;
		margin: 1em;
	}
	.contact-btn {
		background-color: $red;
		min-width: 15%;
		min-height: 5%;
		border-radius: 15px;
		color: #eeeeee;
		padding: 20px;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: bold;
		transition: 0.4s;
		border-style: none;
	}
	.contact-textarea {
		min-width: 80%;
		min-height: 30vh;
		max-height: 50vh;
		resize: vertical;
		padding: 15px;
		border-radius: 15px;
		margin: 0.5em;
	}
}

.bottom-menu,
.space-p {
	margin: 1em;
}

//FOOTER
.footer {
	background-color: $light-dark;
	padding: 2em;
	.section-footer {
		display: flex;
		justify-content: space-around;
		align-content: center;
		padding: 2em;
	}
	.contact-space-icon {
		margin-left: 10px;
	}
}

.bottom-menu {
	text-decoration: underline;
}

.copyright {
	padding: 5px;
}
