$dark: #303841;
$white: #eeeeee;
$red: #d72323;
$light-dark: #3a4750;

//MENU
.flex-end-position {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-center-position {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
}

a {
	text-decoration: none;
	color: $white;
}

//NAVIGIATION

.top-nav {
	position: fixed;
	width: 100%;
	background-color: $light-dark;
	min-height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 8;
	opacity: 0.8;
}

.top-nav-element {
	margin: 0 2em;
	transition: 0.5s;
	z-index: 2;
}

.top-nav-element:hover {
	color: $red;
}

.flex {
	text-align: center;
}

//HEADER

.header-background {
	position: relative;
	background-image: url(../picture/keyboard-g5469bdbfa_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	.shadow-header-background {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgb(43, 28, 28);
		opacity: 0.5;
	}
	.welcome-text {
		font-size: 1.5rem;
		z-index: 4;
		padding: 30px 0;
		color: $white;
	}
	div {
		.welcome-button {
			background-color: $red;
			min-width: 25%;
			min-height: 10%;
			border-radius: 15px;
			color: #eeeeee;
			padding: 20px;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: bold;
			transition: 0.4s;
		}

		.welcome-button:hover {
			background-color: $dark;
			cursor: pointer;
		}
	}
}

//ABOUT-ME

.about-me {
	height: 100vh;
	width: 100%;
}

//MOBILE
@media (max-width: 768px) {
	.header-background {
		background-image: url(../picture/keyboard-ge7a5f3311_640.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		.welcome-text {
			font-size: 1rem;
		}
	}

	.top-nav-element {
		display: none;
	}
}
