$dark: #303841;
$white: #eeeeee;
$red: #d72323;
$light-dark: #3a4750;

h1 {
	text-transform: uppercase;
	padding-top: 5%;
	color: $white;
}

h2 {
	font-weight: 400;
	color: $white;
}

p {
	color: $white;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: $white;
}

.flex {
	display: flex;
}

.center {
	justify-content: center;
	align-items: center;
}

.flex-start{
	justify-content: flex-start;
	align-items: center;
}

.flex-end{
	justify-content: flex-end;
	align-items: center;
}

.text-center {
	text-align: center;
}

//NAVIGIATION
.top-nav {
	position: fixed;
	width: 100%;
	background-color: $light-dark;
	min-height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 8;
	opacity: 0.8;
}

.top-nav-element {
	margin: 0 2em;
	transition: 0.5s;
	z-index: 2;
}

.top-nav-element:hover {
	color: $red;
}

.burger-top-menu {
	display: none;
}

//HEADER

.header-background {
	position: relative;
	background-image: url(../picture/keyboard-g5469bdbfa_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	.shadow-header-background {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgb(43, 28, 28);
		opacity: 0.5;
	}
	.welcome-text {
		font-size: 1.5rem;
		z-index: 4;
		padding: 30px 0;
	}
	div {
		.welcome-button {
			background-color: $red;
			min-width: 25%;
			min-height: 10%;
			border-radius: 15px;
			color: $white;
			padding: 20px;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: bold;
			transition: 0.4s;
		}

		.welcome-button:hover {
			background-color: $dark;
			cursor: pointer;
		}
	}
}

//ABOUT-ME

.about-me {
	height: 100%;
	width: 100%;
}

//SKILLS

.skills {
	height: 100%;
	width: 100%;
	background: $light-dark;
}

.skills-title {
	padding-top: 20px;
}

.skills-icon {
	color: $white;
	display: block;
	margin: 0.5em;
	font-size: 10rem;
}

.skill-level {
	border: 2px solid white;
	height: 10px;
	max-width: 100%;
	border-radius: 15px;
}
.html-skill-level,
.scss-skill-card,
.css-skill-level,
.js-skill-level,
.vue-skill-level,
.github-skill-level {
	background-color: white;
	height: 100%;
}

.github-skill-level {
	width: 50%;
}
.html-skill-level {
	width: 90%;
}
.css-skill-level {
	width: 80%;
}
.js-skill-level {
	width: 65%;
}
.vue-skill-level {
	width: 40%;
}
.scss-skill-card {
	width: 70%;
}

.goals {
	width: 100%;
	height: 100vh;
}

.shadow-goals {
	width: 100%;
	height: 100%;
	background-image: url('../picture/business-g43692ee71_1920.jpg');
	position: fixed;
	bottom: 0;
	z-index: -1;
}

//CONTACT

.contact {
	width: 100%;
	min-height: 100%;
	z-index: 1;
	background-color: $light-dark;
	.section-contact-right {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		color: $white;
		padding: 0.5em;
		margin: 1em;
	}
	.section-contact-left {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 1em;
		.contact-btn {
			background-color: $red;
			min-width: 15%;
			min-height: 5%;
			border-radius: 15px;
			color: #eeeeee;
			padding: 20px;
			text-transform: uppercase;
			font-size: 0.8rem;
			font-weight: bold;
			transition: 0.4s;
			border-style: none;
		}
		.contact-textarea {
			min-width: 80%;
			min-height: 30vh;
			max-height: 50vh;
			resize: vertical;
			padding: 15px;
			border-radius: 15px;
			margin: 0.5em;
		}
	}
}

.bottom-menu,
.space-p {
	margin: 1em;
}

//FOOTER
.footer {
	background-color: $light-dark;
	.section-footer {
		display: flex;
		justify-content: space-around;
		align-content: center;
		padding: 2em;
	}
	.footer-left-position {
		display: flex;
		flex-direction: row;
		align-items: center;
		.contact-space-icon {
			margin-left: 10px;
		}
	}
}

.bottom-menu {
	text-decoration: underline;
}

.copyright {
	text-align: center;
	padding: 5px;
}
