$dark: #303841;
$white: #eeeeee;
$red: #d72323;
$light-dark: #3a4750;

h1 {
	color: $white;
}

//MENU
.flex-end-position {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-center-position {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
}

a {
	text-decoration: none;
	color: $white;
}

//NAVIGIATION

.top-nav {
	position: fixed;
	width: 100%;
	background-color: $light-dark;
	min-height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 8;
	opacity: 0.8;
}

.top-nav-element {
	margin: 0 2em;
	transition: 0.5s;
	z-index: 2;
}

.top-nav-element:hover {
	color: $red;
}

.flex {
	text-align: center;
}

.burger-top-menu {
	display: none;
}

//HEADER

.header-background {
	position: relative;
	background-image: url(../picture/keyboard-g5469bdbfa_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	.shadow-header-background {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgb(43, 28, 28);
		opacity: 0.5;
	}
	.welcome-text {
		font-size: 1.5rem;
		z-index: 4;
		padding: 30px 0;
	}
	div {
		.welcome-button {
			background-color: $red;
			min-width: 25%;
			min-height: 10%;
			border-radius: 15px;
			color: #eeeeee;
			padding: 20px;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: bold;
			transition: 0.4s;
		}

		.welcome-button:hover {
			background-color: $dark;
			cursor: pointer;
		}
	}
}

//ABOUT-ME

.about-me {
	height: 100vh;
	width: 100%;
}

//SKILLS

.skills {
	height: 100vh;
	width: 100%;
	background: $light-dark;
}

.skills-title {
	padding-top: 20px;
}

.skills-icon {
	color: $white;
	display: block;
	margin: 20px;
	font-size: 10rem;
}

.skill-level {
	border: 2px solid white;
	height: 10px;
	max-width: 100%;
	// background-color: white;
	border-radius: 15px;
}
.html-skill-level,
.scss-skill-card,
.css-skill-level,
.js-skill-level,
.vue-skill-level,
.github-skill-level {
	background-color: white;
	height: 100%;
}

.github-skill-level {
	width: 50%;
}
.html-skill-level {
	width: 90%;
}
.css-skill-level {
	width: 80%;
}
.js-skill-level {
	width: 65%;
}
.vue-skill-level {
	width: 40%;
}
.scss-skill-card {
	width: 70%;
}

//GOALS

.goals {
	width: 100%;
	height: 100vh;
}

.shadow-goals {
	background-image: url('../picture/business-g43692ee71_1920.jpg');
	width: 100%;
	height: 100vh;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

.contact {
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-color: blue;
}

//MOBILE
@media (max-width: 768px) {
	ion-icon {
		font-size: 4rem;
	}

	.header-background {
		background-image: url(../picture/keyboard-ge7a5f3311_640.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		.welcome-text {
			font-size: 1rem;
		}
	}

	.top-nav-element {
		display: none;
	}

	.burger-top-menu {
		display: block;
		padding: 1em 1.5em;

		color: $white;
	}
}
