$grass: #4bb493;
$white: #ebf2fa;

a {
	text-decoration: none;
	color: #ebf2fa;
}

.top-nav {
	background-color: $grass;
	border-radius: 15px;
	margin: 10px 10% 0;
	min-height: 35px;
	text-transform: uppercase;
	font-weight: bold;
}

.flex-center-position {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-nav-element {
	margin: 0 2rem;
}

.burger-icon {
	display: none;
}

@media (max-width: 768px) {
	.top-nav {
		display: none;
	}

	.burger-icon {
		display: block;
		height: 40px;
	}
}
